@import "colors";

@washed-out-color: rgba(223, 145, 249, 0.11);

atom-text-editor {
  background-color: @bg1;
  color: @base;

  .wrap-guide {
    background-color: rgba(216, 216, 216, 0.15) !important;
  }

  .indent-guide {
    color: @washed-out-color;
  }

  .invisible-character {
    color: @washed-out-color;
  }

  .line.cursor-line {
    background-color: @bg2;
  }

  .gutter {
    background-color: @bg1;
    // color: @lnum;
    color: #814c85;

    .line-number {
      &.cursor-line {
        background-color: @bg2;
        // color: @lnum;
        color: #eb54f7;
      }

      &.cursor-line-no-selection {
        background-color: @bg1;
        // color: @lnum;
        color: #eb54f7;
        font-weight: bold;
      }
    }
  }

  .fold-marker:after, .gutter .line-number.folded, .gutter .line-number:after {
    color: @base;
  }

  .invisible {
    color: @washed-out-color;
  }

  .cursor {
    color: @cursor !important;
  }

  .selection .region {
    background-color: @highlight;
  }

  .search-results {
    .syntax--marker .region {
      background-color: transparent;
      border: 1px solid @base;
    }
    .syntax--marker.current-result .region {
      border: 1px solid @base;
    }
  }
}
